.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
    /* Higher z-index to ensure it stays on top */
    background-color: white;
    /* Optional: Set background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: Add shadow for better visibility */
}

.navbar .container-fluid {
    max-width: 80%;
    /* 80% width of the device */
    margin: 0 auto;
    /* Center the container */
}

.offcanvas-header {
    border-bottom: 1px solid #dee2e6;
}

@media only screen and (max-width: 600px) {
    .navbar {
        position: relative;
    }

    .top h1 {
        font-size: x-large;
    }

    .mobile-vh-auto {
        height: auto !important;

    }

}